// Navigation code here
nav{
  max-width: 100vw;
  height: 100px;
  margin: 0 auto;
  .navalignment(column,center,center);
  text-align: center;
  background-color: @nav-bg;
    .navigation{
      margin-top: 1%;
    .navalignment(row,none,none);
        text-align: center;
        a{
          text-decoration: none;
          color:@main-font-color;
          margin-right:20px;
        }
          p{
            font-weight: bold;
          }
    }
  }
